
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

/* Header - Hero image */

#hero-image {
    /* Anonymous [freepik]. (n.d.). 
    Hand drawn poetry illustration [photo], 
    https://www.freepik.com/free-vector/hand-drawn-poetry-illustration_22890307.htm#query=writing%20illustration&position=0&from_view=search&track=aitest */

    background-image:url("../../images/accessibility/write-in-a-book.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 40rem;
    width: 100%;
}

/* Aside - navigation bar */

aside .aside-navbar { 
    background-color: var(--color-primary);
    display: grid; 
    font-size: var(--font-size--default);
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    line-height: var(--line-height--default);
    letter-spacing: var(--letter-spacing--default);
    padding: 0.8rem; 
    word-spacing: var(--word-spacing--default);
}

.aside-navbar .aside-a { padding: 0.8rem; } 

/* Main section */

/* Declare font sizes for main section */ 

main {
    font-size: var(--font-size--default);
    letter-spacing: var(--letter-spacing--default);
    line-height: var(--line-height--default);
    word-spacing: var(--word-spacing--default);
}

.main-container { /* Container with grid layout */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, fr);
}

/* Declare font sizes for main section */

h1 { 
    border-bottom: 0.2rem solid var(--color-primary);
    border-top: 0.2rem solid var(--color-primary);
    font-size: var(--font-size--large); 
    font-weight: bold; 
    letter-spacing: var(--letter-spacing--large); 
    line-height: var(--line-height--large); 
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; 
    text-align: center;
    word-spacing: var(--word-spacing-large);
} 

h2 {
    font-size: var(--font-size--large);
    letter-spacing: var(--letter-spacing--large);
    line-height: var(--line-height--large);
    margin: 0;
    padding: 2rem 2rem 2rem 0rem;
    text-align: left;
    word-spacing: var(--word-spacing--large);
}

.main .text { padding: 1rem; }

/* Hyperlinks */

.hyperlinks { color: var(--foreground); text-decoration: none; }

.hyperlinks:focus { background-color: var(--color-primary); color: var(--color-secondary); }

.hyperlinks:hover {
    background-color: var(--color-primary); 
    color: var(--color-tertiary); 
    text-decoration: underline;
}

.paragraph-spacing { margin-bottom: 3.2rem; }

/* Styling - figure and figure caption */

figure { 
    font-size: var(--font-size--small);  
    letter-spacing: var(--letter-spacing--small); 
    line-height: var(--line-height--small); 
    margin: 0 auto;
    margin-bottom: 4rem;
    max-width: 100%;
    position: relative; 
    text-align: center;
    word-spacing: var(--word-spacing--small); 
}

figure .validation { width: 100%; } /* Images - HTML & CSS Validation*/
figure .accessibility-check { width: 100%; } /* Images - Accessibility test */
 
figcaption {
    background-color: var(--color-primary);
    border: 0.2rem solid var(--color-primary);
    color: var(--foreground);
}

/* Footer - declare font sizes */

h3 {
    font-size: var(--font-size--large);  
    letter-spacing: var(--letter-spacing--large); 
    line-height: var(--line-height--large); 
    text-align: left;
    word-spacing: var(--word-spacing--large); 
}

footer address, footer p {
    font-size: var(--font-size--default);
    letter-spacing: var(--letter-spacing--default);
    line-height: var(--line-height--default);
    word-spacing: var(--word-spacing--default);
}

/* Media queries */

@media only screen and (max-width: 30em) and (min-width: 23em) { /* 368px - 480px */

    /* Tiny adjustment - padding */

    .aside-navbar .aside-a { padding: 1rem; }
    
    .main .text { padding: 1rem 2rem; }
}

@media only screen and (max-width: 41.5em) and (min-width: 30.06em) { /* 481px - 664px */

    /* Tiny adjustment - padding */

    .aside-navbar .aside-a { padding: 1rem; }

    .main .text { padding: 1rem 1.5rem; }
}

@media only screen and (max-width: 48.8125em) and (min-width: 41.5625em) { /* 665px - 781px */

    /* Tiny adjustment - image height, padding */

    #hero-image { height: 45rem; }

    .aside-navbar .aside-a { padding: 1rem; }

    .main .text { padding: 1.5rem 2rem; }
}

@media only screen and (max-width: 57.5625em) and (min-width: 48.875em) { /* 782px - 921px */

    /* Adjustment - image height, padding, font sizes and line-height */

    #hero-image { height: 50rem; }

    aside .aside-navbar { /* FIX and other same in  other media queries*/
        grid-template-columns: repeat(1, auto); 
        line-height: 3.5rem; 
        position: sticky; 
        position: -webkit-sticky; /* Safari */
        top: 4rem;
    }

    .aside-navbar .aside-a { padding: 1rem; }
    
    .main .text { padding: 2rem 6rem; }

    h3 { 
        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default);
        line-height: var(--line-height--default);
        word-spacing: var(--word-spacing--default);
    }

    footer address, footer p {
        font-size: var(--font-size--small);
        line-height: var(--line-height--small);
        letter-spacing: var(--letter-spacing--small);
        word-spacing: var(--word-spacing--small);
    }
}

@media only screen and (max-width: 64em) and (min-width: 57.625em) { /* 922px - 1024px */

    /* Adjustment - image height, font sizes, padding, line-height */

    #hero-image { height: 50rem; }

    aside .aside-navbar { 
        grid-template-columns: repeat(1, auto); /* From 4 columns to 1 */
        justify-content: space-around;
        line-height: 3.5rem;
        position: sticky; 
        position: -webkit-sticky; /* Safari */
        top: 4rem;
    }

    .aside-navbar .aside-a { padding: 1rem; }
    
    .main .text { padding: 1rem 0rem; }

    h3 {
        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default);
        line-height: var(--line-height--default);
        word-spacing: var(--word-spacing--default);
    }

    footer address, footer p {
        font-size: var(--font-size--small);
        letter-spacing: var(--letter-spacing--small);
        line-height: var(--line-height--small);
        word-spacing: var(--word-spacing--small);
    }
}

@media only screen and (min-width: 64.0625em) { /* 1025 and up */

    /* Adjusment - image height, padding, font sizes */

    #hero-image { height: 60rem; }

    aside .aside-navbar { 
        grid-template-columns: repeat(1, auto);
        justify-content: space-around;
        line-height: 4.5rem;
        position: sticky; 
        position: -webkit-sticky; /* Safari */ 
        top: 4rem;
    }

    .aside-navbar .aside-a { padding: 1rem; }
    
    .main .text { padding: 1rem 0rem; }

    h3 {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default);
        line-height: var(--line-height--default);
        word-spacing: var(--word-spacing--default);

    }

    footer address, footer p {

        font-size: var(--font-size--small);
        list-style: var(--line-height--small);
        letter-spacing: var(--letter-spacing--small);
        word-spacing: var(--word-spacing--small);
    
    }
}
