
/* Header - Hero image */

#hero-image {

    width: 100%;
    height: 40rem;

    /* Anonymous [freepic.diller]. (n.d.). 
    Serving wedding table vintage style [photo], 
    https://www.freepik.com/free-photo/serving-wedding-table-vintage-style_5698054.htm */

    background-image:url("../../images/booking/wedding-decoration.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; 

}

.navbar-padding {padding: 0rem 1rem;}

/* Navigation bar - aside */

aside .aside-navbar { 

    display: grid; 
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    padding: 0.8rem; 
    background-color: var(--color-primary);

    font-size: var(--font-size--default);
    line-height: var(--line-height--default);
    letter-spacing: var(--letter-spacing--default);
    word-spacing: var(--word-spacing--default);

}

.aside-navbar .aside-a { padding: 0.8rem; } 

/* Grid container for main section */

#main-container {

    display: grid; 
    grid-template-columns: 1fr;
    gap: 1.5em;

}

/* Font sizes - main section */

main {

    font-size: var(--font-size--default);
    line-height: var(--line-height--default);
    letter-spacing: var(--letter-spacing--default);
    word-spacing: var(--word-spacing--default);

}

h1 { 

    font-size: var(--font-size--large); 
    font-weight: bold; 
    letter-spacing: var(--letter-spacing--large); 
    line-height: var(--line-height--large); 
    word-spacing: var(--word-spacing-large);
    text-align: center;
    margin-bottom: 4rem; 

} 

h2 {

    font-size: var(--font-size--large); 
    font-weight: bold; 
    letter-spacing: var(--letter-spacing--large); 
    line-height: var(--line-height--large); 
    word-spacing: var(--word-spacing-large);
    text-align: center;
   
}

h3 {

    font-size: var(--font-size--default);  
    letter-spacing: var(--letter-spacing--default); 
    line-height: var(--line-height--default); 
    word-spacing: var(--word-spacing--default); 

}

.main-text { padding: 0rem 1rem; } 

.paragraph-spacing { margin-bottom: 3.2rem; }

/* Hyperlinks - to different part of the main section */

main .hyperlinks { text-decoration: none; color: var(--foreground); }

main .hyperlinks:focus{ color: var(--color-secondary); background-color: var(--color-primary); }

main .hyperlinks:hover { color: var(--color-tertiary); text-decoration: underline; }

/* Images carousel - container */

.padding-img { padding: 0rem 1rem; /* vertical-align:middle; */} /* A lot to fix! If we wish to have to carousels then we have a lot to do. */

.padding-img .slideshow-container {

    max-width: 100%;
    position: relative;
    margin: auto;

}

.img-size { width: 100%; aspect-ratio: 1/1; }

#text-align { text-align: center; }

/* Hide the images by default */

.mySlides { display: none; }

/* Next & previous buttons */

.prev, .next {

    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: bold;

    font-size: var(--font-size--default);
    line-height: var(--line-height--default);
    letter-spacing: var(--letter-spacing--default);
    word-spacing: var(--word-spacing--default);

    transition: 0.6s ease;
    border-radius: 0 0.3rem 0.3rem 0;
    user-select: none;

}

/* Position the "next button" to the right */

.next { right: 0; border-radius: 0.3rem 0 0 0.3rem; }

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover { background-color: #e6e6e6; }

/* Caption text */

.text {

    color: var(--foreground);
    background-color: var(--color-primary);

    font-size: var(--font-size--small);
    line-height: var(--line-height--small);
    letter-spacing: var(--letter-spacing--small);
    word-spacing: var(--word-spacing--small);

    padding: 0.8rem 1.2rem;
    position: absolute;
    margin: 0;
    bottom: 0.2rem;
    width: 100%;
    text-align: center;

}

/* Text to show which photo is currently displayed. */

.numbertext {

    font-size: var(--font-size--default);
    line-height: var(--line-height--default);
    letter-spacing: var(--letter-spacing--default);
    word-spacing: var(--word-spacing--default);

    color: var(--background);
    background-color: var(--foreground);
    padding: 0.8rem 1.2rem;
    position: absolute;
    top: 0;

}

/* The indicators */

.line {

    cursor: pointer;
    height: 0.5rem;
    width: 4rem;
    margin-top: 1.5rem;
    background-color: var(--color-primary);
    border-radius: 10%;
    border:  0.1rem solid var(--color-primary);
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active-carousel, .line:hover { background-color: var(--foreground); border: 0.1rem solid var(--foreground); }

/* Fading animation */

.fade { animation-name: fade; animation-duration: 1.5s; }

@keyframes fade { from {opacity: .4} to {opacity: 1} }

/* Booking form */

/* Add a background color and some padding around the form */

#booking-container {

    border-radius: 0.5rem;
    background-color: #f2f2f2;
    margin: 0 auto;
    
}

.booking-form { 
    
    display: grid; 
    grid-template-columns: repeat(1, auto); 
    row-gap: 2rem;

    margin: 0 0.2rem; 
    padding: 2rem 1.5rem; 
}

.booking-form button { 

    border: none;
    background-color: transparent;
    cursor: pointer;

}

.a-gap {display: grid; grid-template-columns: repeat (1, auto); row-gap: 1rem;}

/* Style inputs */

input[type=text], input[type=tel], input[type=email], input[type=number], input[type=datetime-local], select, textarea {

    width: 100%; 
    padding: 1.2rem; 
    border: 1px solid rgb(204, 204, 204); 
    border-radius: 0.4rem; 
    box-sizing: border-box; 
    margin-top: 0.6rem; 
    margin-bottom: 0.6rem; 
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

}

/* Style the submit button with a specific background color etc */
button[type=submit] {

    background-color: var(--color-tertiary);
    color: #fff;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;

}

/* When moving the mouse over the submit button, add a darker puple color*/

button[type=submit]:hover {
    background-color: var(--color-secondary);
}

/* Testimonals */

.testimonials-container {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}
  
.testimonials-container::after {
    content: "";
    clear: both;
    display: table;
}

.testimonials-container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.testimonials-container span {
    font-size: 20px;
    margin-right: 15px;
}
  
@media (max-width: 500px) {
    .testimonials-container {
        text-align: center;
    }
    .testimonials-container img {
        margin: auto;
        float: none;
        display: block;
    }
}

/* Footer */

h4 {

    font-size: var(--font-size--large);  
    letter-spacing: var(--letter-spacing--large); 
    line-height: var(--line-height--large); 
    word-spacing: var(--word-spacing--large); 
    text-align: left;

}

footer address, footer p {

    font-size: var(--font-size--default);
    line-height: var(--line-height--default);
    letter-spacing: var(--letter-spacing--default);
    word-spacing: var(--word-spacing--default);

}

/* Media queries */

@media only screen and (max-width: 30em) and (min-width: 23em) { /* 368px - 480px */

    .aside-navbar .aside-a { padding: 1rem; }
    
    main .main-text { padding: 0rem 2rem; }

    .padding-img { padding: 0rem 2rem; }

}

@media only screen and (max-width: 41.5em) and (min-width: 30.06em) { /* 481px - 664px */

    .aside-navbar .aside-a { padding: 1rem; }

    main .main-text { padding: 0rem 1.5rem; }

    .padding-img { padding: 0rem 1.5rem; }

}

@media only screen and (max-width: 48.8125em) and (min-width: 41.5625em) { /* 665px - 781px */

    #hero-image { height: 45rem; }

    .aside-navbar .aside-a { padding: 1rem; }

    main .main-text { padding: 0rem 2rem; }

    .padding-img { padding: 0rem 2rem; }

}

@media only screen and (max-width: 57.5625em) and (min-width: 48.875em) { /* 782px - 921px */

    #hero-image { height: 50rem; }

    /* Change layout for aside navbar from 3 colums to 1 column */

    aside .aside-navbar { grid-template-columns: repeat(1, auto); line-height: 3.5rem; }

    .aside-navbar .aside-a { padding: 1rem; }
    
    main .main-text { padding: 0rem; }

    .padding-img { padding: 0rem; }

    h4 {

        font-size: var(--font-size--default);  
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 
    
    }

}

@media only screen and (max-width: 64em) and (min-width: 57.625em) { /* 922px - 1024px */

    #hero-image { height: 50rem; }

    aside .aside-navbar { 

        grid-template-columns: repeat(1, auto);
        justify-content: space-around;
        line-height: 3.5rem;

    }

    .aside-navbar .aside-a { padding: 1rem; }
    
    main .main-text { padding: 0rem; }

    .padding-img { padding: 0rem; }

    h4 {

        font-size: var(--font-size--default);  
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 
    
    }

}

@media only screen and (min-width: 64.0625em) { /* 1025 and up */

    #hero-image { height: 60rem; }

    aside .aside-navbar { 

        grid-template-columns: repeat(1, auto);
        justify-content: space-around;
        line-height: 4.5rem;

    }

    .aside-navbar .aside-a { padding: 1rem; }
    
    main .main-text { padding: 0rem; }

    .padding-img { padding: 0rem; }

    h4 {

        font-size: var(--font-size--default);  
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 
    
    }

}