
/* Header */

#hero-image {
    width: 100%;
    height: 40rem;
    background-image:url("../images/index/restaurant.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover; 
}

/* Aside - navbar */

aside .aside-navbar { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0.8rem; 
    background-color: var(--color-primary);

    font-size: var(--font-size--small);
    letter-spacing: var(--letter-spacing--small);
    word-spacing: var(--word-spacing--small);
    line-height: var(--line-height--small);
}

/* Main */

h1 { text-align: center; }

.main .text { padding: 1rem 2rem; }

.paragraph-spacing { margin-bottom: 3.2rem; }

/* Links inside section */

.main .text .hyperlinks { 
    text-decoration: none;
    color: var(--foreground);
}

.main .text .hyperlinks:focus{ 
    color: var(--color-secondary); 
    background-color: var(--color-primary);
}


.main .text .hyperlinks:hover {
    color: var(--color-tertiary); 
    background-color: var(--color-primary); 
    text-decoration: underline;
}

/* Media queries */

@media only screen and (max-width: 41.5em) and (min-width: 23em) {  /* Mobile devices ( 368px- 664px) */ 

    aside .aside-navbar { justify-content: space-evenly;}
}

@media only screen and (max-width: 48.8125em) and (min-width: 41.5625em) {
    aside .aside-navbar { justify-content: space-evenly; }
}

@media only screen and (max-width: 57.5625em) and (min-width: 48.875em) {
    
    #hero-image { height: 50rem; }

    /* Navbar - aside */

    aside .aside-navbar {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        flex-wrap: wrap;

        border: 1px solid var(--background);
        padding: 4rem;
        margin-top: 4rem;
        margin-left: 3rem;
        line-height: 3.5rem;
    }

    .main .text { padding: 1rem 4rem; }
}

@media only screen and (max-width: 64em) and (min-width: 57.625em) {

    #hero-image { height: 50rem; }

    /* Navbar - aside */

    aside .aside-navbar {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        flex-wrap: wrap;

        font-size: var(--font-size--small); 
        letter-spacing: var(--letter-spacing--small);
        word-spacing: var(--word-spacing--small);
        
        border: 1px solid var(--background);
        padding: 4rem;
        margin-top: 4rem;
        margin-left: 3rem;
        line-height: 3.5rem;
    }

    .main .text { padding: 1rem 5rem; }
    
}

@media only screen and (min-width: 64.0625em) {

    #hero-image { height: 60rem; }

    /* Navbar - aside */

    aside .aside-navbar {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        flex-wrap: wrap;

        font-size: var(--font-size--small); 
        letter-spacing: var(--letter-spacing--small);
        word-spacing: var(--word-spacing--small);
        
        border: 1px solid var(--background);
        padding: 4rem;
        margin-top: 4rem;
        margin-left: 5rem;
        line-height: 3.5rem;
    }

    .main .text { padding: 1rem 4rem; }
}