
/* Header */

#hero-image {

    width: 100%;
    height: 40rem;

    /* 
    Anonymous [freepik]. (n.d.). 
    Free photo flat lay composition of pasta with copyspace [photo], 
    https://www.freepik.com/free-photo/flat-lay-composition-pasta-with-copyspace_4675205.htm#page=3&query=italian%20food&position=17&from_view=search&track=sph
    */

    background-image:url("../../images/menu/ingredients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

}

/* Aside - navbar */

aside .aside-navbar { 

    display: grid; 
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;

    padding: 0.8rem; 
    background-color: var(--color-primary);

    font-size: var(--font-size--small);
    letter-spacing: var(--letter-spacing--small); 
    line-height: var(--line-height--small); 
    word-spacing: var(--word-spacing--small); 

}

aside .aside-navbar .aside-a { padding: 0.8rem; }

/* Main */

main { margin: 0; }

#menu {

    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5em;

}

main {

    font-size: var(--font-size--default);
    line-height: var(--line-height--default);
    letter-spacing: var(--letter-spacing--default);
    word-spacing: var(--word-spacing--default);

}

h1 {

    font-size: var(--font-size--large);
    letter-spacing: var(--letter-spacing--large); 
    line-height: var(--line-height--large); 
    word-spacing: var(--word-spacing--large); 
    text-align: center;

}

.card {

    display:grid; 
    grid-template-columns: 1fr; 
    gap: 1.5em;

    box-shadow: 0 0.4rem 0.8rem 0 rgb(168, 165, 165);

}


.card:last-child { padding-bottom: 2rem; }

.dish {
    
    display: grid; 
    grid-template-columns: 1fr; 
    gap:0.5rem; 
    padding: 0rem 2rem; 

}

h2 {

    border-bottom: 0.2em solid var(--color-primary);
    padding-bottom: 0.5em;

    font-size: var(--font-size--default);
    letter-spacing: var(--letter-spacing--default); 
    line-height: var(--line-height--default); 
    word-spacing: var(--word-spacing--default); 

}

/* Hyperlinks - for h2 */

main .hyperlinks { 

    text-decoration: none;
    color: var(--foreground);

}

main .hyperlinks:focus{ 

    color: var(--color-secondary); 
    background-color: var(--color-primary);

}


main .hyperlinks:hover {

    color: var(--color-tertiary); 
    text-decoration: underline;

}

h3 {

    font-size: var(--font-size--small);
    letter-spacing: var(--letter-spacing--small); 
    line-height: var(--line-height--small); 
    word-spacing: var(--word-spacing--small); 

}

.price-container { display: flex; justify-content: space-between; }

.price { margin-left: 3em; }

.description {

    font-size: var(--font-size--small);
    letter-spacing: var(--letter-spacing--small); 
    line-height: var(--line-height--small); 
    word-spacing: var(--word-spacing--small); 

}

/* Allergies */

.box-like-btn {

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    justify-content: left;

}

.allergies {

    font-size: var(--font-size--small);
    letter-spacing: var(--letter-spacing--small); 
    line-height: var(--line-height--small); 
    word-spacing: var(--word-spacing--small);

    border: 1px solid var(--color-primary);
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    color: var(--color-tertiary);

}

.allergies:hover { color:var(--foreground); }

/* Icons for allergies */

.fa-solid { color: var(--color-secondary); }
.fa-solid:hover { color: var(--foreground); }

/* Beverages */

.card-beverages {

    display:grid; 
    grid-template-columns: 1fr; 
    gap: 0.1em;

    box-shadow: 0 0.4rem 0.8rem 0 rgb(168, 165, 165);

}

.beverage { padding-left: 1rem; padding-right: 1rem; }

.beverage-name { font-weight: normal; }

/* Footer */

footer address, footer p {

    font-size: var(--font-size--default);
    letter-spacing: var(--letter-spacing--default); 
    line-height: var(--line-height--default); 
    word-spacing: var(--word-spacing--default); 

}

h4 {

    font-size: var(--font-size--default);  
    letter-spacing: var(--letter-spacing--default); 
    line-height: var(--line-height--default); 
    word-spacing: var(--word-spacing--default); 

} 

/* Media queries */

@media only screen and (max-width: 30em) and (min-width: 23em) { /* 368px - 480px */

    .aside-navbar .aside-a { padding: 1rem; }

    #menu { padding: 0rem 1rem; }

    .card { gap: 2em; } 

    .card:last-child { padding-bottom: 3rem; }

    .dish { padding: 0rem 3rem; }

    .beverage { padding: 0rem 3rem; }

}

@media only screen and (max-width: 41.5em) and (min-width: 30.0625em) {  /* 481px - 664px */ 

    aside .aside-navbar { 

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    aside .aside-navbar .aside-a { padding: 1rem; } 

    #menu { gap: 4em; } 

    .card { gap: 3em; }

    .card:last-child { padding-bottom: 3rem; }

    .dish { gap: 0; padding: 0rem 3rem; }

    h2 {

        font-size: var(--font-size--large);
        letter-spacing: var(--letter-spacing--large); 
        line-height: var(--line-height--large); 
        word-spacing: var(--word-spacing--large); 

    }

    h3 {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .description {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .box-like-btn { 
       
        grid-template-columns: repeat(3, auto);
        gap: 2rem;

    }

    .allergies {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default);
        border-radius: 2rem;

    } 

    .beverage { padding: 0rem 3rem; }

}

@media only screen and (max-width: 48.8125em) and (min-width: 41.5625em) { /* 665px - 781px */

    aside .aside-navbar { 

        grid-template-columns: repeat(3, auto);
        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    aside .aside-navbar .aside-a { padding: 1.5rem; } 

    #menu { gap: 4em; }

    .card { gap: 2em; }

    .card:last-child { padding-bottom: 4rem; }

    .dish { gap: 1rem; padding: 0rem 3rem; }

    h2 {

        font-size: var(--font-size--large);
        letter-spacing: var(--letter-spacing--large); 
        line-height: var(--line-height--large); 
        word-spacing: var(--word-spacing--large); 

    }

    h3 {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .description {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .box-like-btn { 

        grid-template-columns: repeat(4, auto);
        gap: 2rem;

    }

    .allergies {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default);
        padding: 0.5rem;
        border-radius: 2rem;

    }

    .beverage { padding: 0rem 3rem; }

}

@media only screen and (max-width: 57.5625em) and (min-width: 48.875em) { /* 782px - 921px */
    
    #hero-image { height: 50rem; } 

    aside .aside-navbar {

        position: -webkit-sticky; /* Safari */
        position: sticky; 
        top: 0;

        grid-template-columns: repeat(1, auto);

        border: 0.1em solid var(--background);
        padding: 2rem;
    
    }

    aside .aside-navbar .aside-a { padding: 1rem; }

    #menu { padding: 0rem 2.5rem; }

    h1 { 

        margin-top: 0rem; 
        padding: 1rem; 
        border: 0.2em double var(--color-primary);
    
    }

    .card { gap: 2em; box-shadow: none; }

    .card:last-child { padding-bottom: 2rem; }

    .dish { padding: 0rem; }

    h2 {

        font-size: var(--font-size--large);
        letter-spacing: var(--letter-spacing--large); 
        line-height: var(--line-height--large); 
        word-spacing: var(--word-spacing--large); 

    }

    h3 {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .description {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .box-like-btn { 
        
        grid-template-columns: repeat(3, auto);
        gap: 2rem;

    }

    .allergies {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default);
        padding: 0.4rem;
        border-radius: 2rem;

    }

    .card-beverages { gap: 0.5em; box-shadow: none; }

    .beverage { padding: 0rem; }

    footer address, footer p {

        font-size: var(--font-size--small);
        letter-spacing: var(--letter-spacing--small); 
        line-height: var(--line-height--small); 
        word-spacing: var(--word-spacing--small); 

    }

}

@media only screen and (max-width: 64em) and (min-width: 57.625em) { /* 922px - 1024px */

    #hero-image { height: 50rem; } 

    aside .aside-navbar { 

        position: -webkit-sticky;
        position: sticky;
        top: 0;

        grid-template-columns: repeat(1, auto);

        border: 0.1em solid var(--background);
        padding: 2rem;

    }

    aside .aside-navbar .aside-a { padding: 1rem; }

    #menu { padding: 0rem 2.5rem; }

    h1 { 

        margin-top: 0rem; 
        padding: 1rem; 
        border: 0.2em double var(--color-primary);
    
    }

    .card { gap: 2em; box-shadow: none; }

    .card:last-child { padding-bottom: 4rem; }

    .dish { padding: 0rem; }

    h2 {

        font-size: var(--font-size--large);
        letter-spacing: var(--letter-spacing--large); 
        line-height: var(--line-height--large); 
        word-spacing: var(--word-spacing--large); 

    }

    h3 {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .description {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .box-like-btn { 
        
        grid-template-columns: repeat(4, auto);
        gap: 2rem;

    }

    .allergies {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default);
        padding: 0.5rem;
        border-radius: 1.5rem;

    }

    .card-beverages { 
        
        gap: 0.5em; 
        box-shadow: none; 
        padding-bottom: 2rem; 
    
    }

    .beverage { padding: 0rem; }

    footer address, footer p {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

}

@media only screen and (min-width: 64.0625em) { /* 1025px and up */ 

    #hero-image { height: 60rem; }

    aside .aside-navbar {

        position: -webkit-sticky; 
        position: sticky;
        top: 0;

        grid-template-columns: repeat(1, auto);

        border: 0.1em solid var(--background);
        padding: 3rem;

    }

    aside .aside-navbar .aside-a { padding: 1rem; }

    #menu { padding: 0rem 2.5rem; }

    h1 { 

        margin-top: 0rem; 
        padding: 1rem; 
        border: 0.2em double var(--color-primary);
    
    }

    .card { gap: 2em; box-shadow: none; }

    .card:last-child { padding-bottom: 4rem; }

    .dish { padding: 0rem; }

    h2 {

        font-size: var(--font-size--large);
        letter-spacing: var(--letter-spacing--large); 
        line-height: var(--line-height--large); 
        word-spacing: var(--word-spacing--large); 

    }

    h3 {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .description {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

    .box-like-btn { 
        
        grid-template-columns: repeat(4, auto);
        gap: 2rem;
        justify-content: flex-start;

    }

    .allergies {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default);
        padding: 0.5rem;
        border-radius: 1.5rem;

    }

    .card-beverages { 
        
        gap: 0.5em; 
        box-shadow: none; 
        padding-bottom: 6rem; 
    
    }

    .beverage { padding: 0rem; }

    footer address, footer p {

        font-size: var(--font-size--default);
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 

    }

}
