
/* Header */

#hero-image {
    width: 100%;
    height: 40rem;
    background-image:url("../../images/menu/ingredients.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

/* Aside - navbar */

aside .aside-navbar { 
    display: grid; 
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;

    padding: 0.8rem; 
    background-color: var(--color-primary);

    font-size: var(--font-size--small);
    letter-spacing: var(--letter-spacing--small);
    word-spacing: var(--word-spacing--small);
    line-height: var(--line-height--small);
}

aside .aside-navbar .aside-a { padding: 0.5rem; }

/* Main */

h1 { 
    font-size: var(--font-size--large); 
    font-weight: 1000; 
    letter-spacing: var(--letter-spacing--large); 
    line-height: var(--line-height--large); 
    word-spacing: var(--word-spacing-large); 
    text-align: center;
}

h2 {
    font-size: var(--font-size--small);  
    letter-spacing: var(--letter-spacing--small); 
    line-height: var(--line-height--small); 
    word-spacing: var(--word-spacing--small); 
    text-align: left;
} 

h3 { 
    font-size: var(--font-size--small);
    letter-spacing: var(--letter-spacing--small); 
    line-height: var(--line-height--small); 
    word-spacing: var(--word-spacing--small); 
    text-align: left;
} 


/* Links inside section */

.main .hyperlinks { 
    text-decoration: none;
    color: var(--foreground);
}

.main .hyperlinks:focus{ 
    color: var(--color-secondary); 
    background-color: var(--color-primary);
}


.main .hyperlinks:hover {
    color: var(--color-tertiary); 
    text-decoration: underline;
}

/* Media queries */

@media only screen and (max-width: 41.5em) and (min-width: 23em) {  /* Mobile devices ( 368px- 664px) */ 


}

@media only screen and (max-width: 48.8125em) and (min-width: 41.5625em) {
    aside .aside-navbar { grid-template-columns: repeat(3, auto); }
}

@media only screen and (max-width: 57.5625em) and (min-width: 48.875em) {
    
    #hero-image { height: 50rem; }

    /* Navbar - aside */

    aside .aside-navbar {
        grid-template-columns: repeat(1, auto);
        justify-content: space-around;

        border: 1px solid var(--background);
        padding: 4rem;
        margin-top: 4rem;
        margin-left: 3rem;
        line-height: 3.5rem;
    }

    /*h2 {
        font-size: var(--font-size--default);  
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 
    } */

    .main { padding: 1rem 4rem; margin-left: 5rem; }
}

@media only screen and (max-width: 64em) and (min-width: 57.625em) {

    #hero-image { height: 50rem; }

    /* Navbar - aside */

    aside .aside-navbar {
        grid-template-columns: repeat(1, auto);
        justify-content: space-around;

        font-size: var(--font-size--small); 
        letter-spacing: var(--letter-spacing--small);
        word-spacing: var(--word-spacing--small);
        
        border: 1px solid var(--background);
        padding: 4rem;
        margin-top: 4rem;
        margin-left: 3rem;
        line-height: 3.5rem;
    }

    /* Footer */

    /*h2 {
        font-size: var(--font-size--default);  
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 
    } */

    .main { padding: 1rem 5rem; }
    
}

@media only screen and (min-width: 64.0625em) {

    #hero-image { height: 60rem; }

    /* Navbar - aside */

    aside .aside-navbar {
        grid-template-columns: repeat(1, auto);
        justify-content: space-around;

        font-size: var(--font-size--small); 
        letter-spacing: var(--letter-spacing--small);
        word-spacing: var(--word-spacing--small);
        
        border: 1px solid var(--background);
        padding: 4rem;
        margin-top: 4rem;
        margin-left: 5rem;
        line-height: 3.5rem;
    }

    /* Footer */
    /*
    h2 {
        font-size: var(--font-size--default);  
        letter-spacing: var(--letter-spacing--default); 
        line-height: var(--line-height--default); 
        word-spacing: var(--word-spacing--default); 
    } */

    .main { padding: 1rem 4rem; }

}